.App {
    text-align: center;
}

.header {
    height: 100px;
}

.container {
    margin-bottom: 100px;
}

.inputForm {
    width: 50% !important;
    margin: auto !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}


/* .inputTxt {
    margin-top: 9%;
} */

.resultTable {
    margin: auto;
    width: 70% !important;
}

.resultTable table,
th,
td {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-collapse: collapse;
    padding: 5px;
}

.resultTable table,
th,
td:nth-child(1) {
    width: 80%;
}

.editModal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}